<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franchise Form</title>

    <link rel="stylesheet" href="../css/franchiseForm.css">
</head>
<body>
    <section class="franchiseFormSection" id="franchiseFormSection">
        <div class="frContainer">
            <div class="franchiseForm">
                <p class="franchiseFirstHead" style="color: white; margin: 0;">
                    START FRANCHISE</p>
                <p class="franchisePara" style="text-align: center; color:white; margin-bottom: 10px;">Connect with us
                    through phone at <strong><span style="color: white;">+919911000373</span></strong> or
                    email
                    us at <strong><span style="color: white;">info@gofroworld.com</strong></span></p>
                <div style="text-align: center; color: white; font-family: Source Sans Pro;">
                    <ul class="features-list">

                        <li>
                            <div class="frachisee_img">
                                <!-- <img src="./media/rupee.png" alt=""> -->
                            </div>
                            <div class="franchisee_content">
                                <p style="margin: 0;">BASIC COST</p>
                                <strong>
                                    <p style="margin: 0; color: black;">INR 16 Lacs</p>
                                </strong>
                            </div>
                        </li>

                        <li>
                            <div class="frachisee_img">
                                <!-- <img src="./media/area.png" alt=""> -->
                            </div>
                            <div class="franchisee_content">
                                <p style="margin: 0;">AREA REQUIRED</p>
                                <strong>
                                    <p style="margin: 0; color: black;">150-400 sq. ft.</p>
                                </strong>
                            </div>
                        </li>

                        <li>
                            <div class="frachisee_img">
                                <!-- <img src="./media/store.png" alt=""> -->
                            </div>
                            <div class="franchisee_content">
                                <p style="margin: 0;">EXPANSION FORMAT</p>
                                <strong>
                                    <p style="margin: 0; color: black;">KIOSK/STORE</p>
                                </strong>
                            </div>
                        </li>

                        <li>
                            <div class="frachisee_img">
                                <!-- <img src="./media/roi.png" alt=""> -->
                            </div>
                            <div class="franchisee_content">
                                <p style="margin: 0;">AVERAGE ROI</p>
                                <strong>
                                    <p style="margin: 0; color: black;">12-15 Months</p>
                                </strong>
                            </div>
                        </li>

                    </ul>
                    <!-- <a href="#input"><button class="btnFrDetails">GET STARTED</button></a> -->
                </div>
            </div>


            <div class="franchiseForm">
                <div class="franchiseFormContent">
                    <p class="franchiseHead frStroke">
                        BECOME A FRANCHISE
                    </p>
                    <form action="index.html" id="input">
                        <input type="text" name="yourName" placeholder="YOUR NAME">
                        <input type="number" name="mobileNumber" placeholder="YOUR MOBILE NUMBER" minlength="10"
                            maxlength="10">
                        <input type="email" name="yourEmail" placeholder="YOUR EMAIL">
                        <textarea name="yourmessage" id="message" rows="3"
                            placeholder="Location(s) of your outlet?"></textarea>
                        <div class="submitBTN">
                            <button class="btn-secondary-btn media-styler">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>